.contenido {       
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    }

header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}




.my-google-map{
    .map-container{
        display: flex;
    }
  }